.media{
    display: flex;
    height: 6vh;
    justify-content: end;
    align-items: baseline;
    gap: 5.5vw;

}
.left-child{
    max-width: 8vw;
}
.instagram{
    width: 100%;
}
.right-child{
    max-width: 9.3vw;
    padding-right: 2.9vw;
    padding-top: 5.1vh;
}
.gmail{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 23%;
}
.logo{
    width: 100vw;
}
.photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
}
.photo1{
    width: 90%;
}
.photo2{
    width: 90%;
}
.photo3{
    width: 90%;
}
.photo4{
    width: 90%;
}
.photo5{
    width: 90%;
}
.photo6{
    width: 90%;
}
.photo7{
    width: 90%;
}
.photo8{
    width: 90%;
}
.photo9{
    width: 90%;
}
.photo10{
    width: 90%;
}
.photo11{
    width: 90%;
}
.photo12{
    width: 90%;
}
.photo13{
    width: 90%;
}
.photo14{
    width: 90%;
    padding-bottom: 3.8%;
}